* {
	padding: 0;
	margin: 0;
	z-index: 1;
}

html, body {
	background-color: #374036;	
}

body p {
	color: white;
	font-family: 'League Spartan';
	font-size: 12pt;
	font-weight: 400;
	word-wrap: break-word;
	letter-spacing: 1px;
}

body h1 {
	color: white;
	font-family: 'League Spartan';
	font-size: 32pt;
	font-weight: 500;
}

figcaption {
	color: white;
	font-family: 'League Spartan';
	font-size: 15pt;
	font-weight: 200;
	text-align: center;
}

.horizontal-list {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	list-style-type: none;
}

.horizontal-list a {
	color: white;
}

.horizontal-list a:hover {
	color: #EFF291;
}

.images-container {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	z-index: 0;
}

@keyframes imagesFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.background-image {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	animation-name: imagesFadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 40s;
	filter: brightness(70%) saturate(140%);
}

.images-container img.background-image:nth-of-type(1) {
	animation-delay: 30s;
}

.images-container img.background-image:nth-of-type(2) {
	animation-delay: 20s;
}

.images-container img.background-image:nth-of-type(3) {
	animation-delay: 10s;
}

.images-container img.background-image:nth-of-type(4) {
	animation-delay: 0;
}

nav {
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
}

@keyframes slide-down {
	0% {
        transform: translateY(-100%);
    } 
    100% {
        transform: translateY(0);
    } 
}

.fixed-nav {
	position: fixed;
	animation: slide-down 1s;
}

.fixed-nav ul {
	background-color: rgb(192, 192, 185);
}

nav ul {
	position: relative;
	margin-left: 26%;
	margin-right: 26%;
	font-family: 'League Spartan';
	font-size: 30pt;
	font-weight: 350;
	border-bottom-left-radius: 300px;
	border-bottom-right-radius: 300px;
	background-color: rgb(192, 192, 185, 0.8);
}

@media (max-width: 1050px) {
	nav ul {
		font-size: 20pt;
		margin-left: 5%;
		margin-right: 5%;
	}

	.background-image {
		clip-path: inset(150px);
	}

	#skills-section {
		height: 100% !important;
	}
}

nav ul li {
	padding: 10px;
}

nav ul li a {
	color: #EFF291;
	text-decoration: none;
}

nav ul li a:hover {
	color: white;
}

nav ul li:first-child {
	margin-left: 5%;
}

nav ul li:last-child {
	margin-right: 5%;
}

#header-section {
	position: relative;
	height: 100vh;
}

#leader-container {
	position: absolute;
	width: 400px;
	height: 100px;
	top: calc(50vh - 100px); 
	left: calc(50vw - 200px);
}

#leader-container h1 {
	font-family: 'League Spartan';
	font-size: 30pt;
	font-weight: 550;
	text-align: center;
	/* color: #EFF291; */
	color: white;
}

#icon-container {
	position: absolute;
	bottom: 20px;
	width: 200px;
	left: calc(50vw - 100px);
}

#about-section {
	display: flex;
	gap: 20px;
	min-height: 100vh;
}

#about-section figure {
	padding: 5% 5% 10% 5%;
	min-width: 30%;
	opacity: 0;
	transform: translateX(-200px);
	transition: 2s all ease;
}

#about-section figure.active {
	transform: translateX(0);
	opacity: 1;
}

#about-section figure img {
	max-width: 100%;
	border-radius: 25%;
}

#about-section div {
	padding: 5% 5% 10% 5%;
}

#skills-section {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	height: 100vh;
	background-color: #9aabaf;	
}

#skills-section p {
	color: #F2EC9B;
}

#skills-section h1 {
	color: #F2EC9B;
}

#skills-section div.left-col {
	padding: 5% 0 10% 5%;
	min-width: 30%;
}

#skills-section div.right-col {
	padding: 5% 5% 10% 5%;
}

#skills-section ul {
	list-style: none;
}

.skill-bars li {
	display: flex;
}

.skill-bars p {
	color: black !important;
	font-size: 12pt;
	font-weight: 550;
	margin-top: 4px;
	width: 100px;
}

.skill-bars > * {
	margin-bottom: 10px;
}

.skill-bar {
	width: 80%;
	height: 20px;
	margin: 0 20px 0 20px;
	background-color: slategrey;
}

.skill-bar-fill {
	background-color: #736243;
	height: 20px;
	z-index: 2;
	width: 0%;
	transition: 2s all ease;
}

.fill-25 {
	width: 25%;
}

.fill-50 {
	width: 50%;
}

.fill-75 {
	width: 75%;
}

#contact-section {
	background-color: #736243;
	padding: 150px;
	text-align: center;
}

footer {
	height: 100px;
	padding: 50px 50px 0 50px;
	text-align: center;
}

footer .horizontal-list {
	margin-top: 20px;
}