/*########### Fonts ###########*/
@import url(https://fonts.googleapis.com/css?family=Flamenco);

@font-face {
	font-family: Arty;
	src: url('../fonts/Arty_Signature.otf');
}

/*########### Globals ###########*/
* {
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100% !important;
	height: 100%;
	background-image: url('../images/noiseBackground.png');
	background-repeat: repeat;
}

body p {
	margin: 0;
	word-wrap: break-word;
	font-family: 'Flamenco';
	font-size: 20px;
	letter-spacing: 1px;
}

.parallax-wrapper {
	width: 100vw;
	height: 100vh;
	padding-top: 20vh;
	box-sizing: border-box;
}

.regular-wrapper {
	width: 100vw;
	height: 100vh;
	padding-top: 20vh;
	background-image: url("../images/me.jpg");
}

.dividerText {
	text-align: center;
	font-family: 'Flamenco';
	font-weight: normal;
	color: #fff;
	background-color: rgba(39, 34, 62, 1);
	padding: 5px;
}

/*########### Header ###########*/
#HeaderTitel {
	width: 500px;
	height: 30%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 35%;
	margin-top: -60px;
	font-family: 'Flamenco';
	position: relative;
	background-color: rgba(211, 211, 211, 0.75);
}

#HeaderTitel h1 {
	font-size: 50px;
}

#HeaderTitel h2 {
	font-size: 30px;
}

#HeaderTitel a:hover {
	color: slategrey;
}

#PictureContainer {
	height: 720px;
	width: 100%;
	background: url('../images/headerPicture.jpg') no-repeat;
}

/*########### Variable list ###########*/
.horizontal_list * {
	margin-right: 20px;
}

.horizontal_list :last-child {
	margin-right: 0px;
}

.horizontal_list ul {
	text-decoration: none;
}

.horizontal_list li {
	line-height: 60px;
	display: inline-block;
}

.horizontal_list a,p {
	text-align: center;
	display: block;
}

/*########### Navigation Bar ###########*/
#MenuContainer {
	height: 60px;
	text-align: center;
	position: relative;
	border-top: 0px solid rgba(90, 85, 110, 0.28);
	border-bottom: 0px solid rgba(90, 85, 110, 0.28);
	background-color: rgba(39, 34, 62, 1);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#MenuContainer a:link, a:visited, a:active {
	font-size: 25px;
	font-family: 'Flamenco';
	-webkit-transition: color 1s ease 0s;
}

#MenuContainer a:hover {
	color: slategrey;
}

@media only screen and (max-width:640px) {
}

/*########### Content ###########*/
@media screen and (max-width:1080px) {
	#ContentContainer {
		margin-left: 5% !important;
		margin-right: 5% !important;
	}
}

.scaleImage {
	margin: auto;
	display: block;
	width: auto;
	width: 75%;
}

#ProfileImageContainer {
	vertical-align: top;
	display: inline-block;
	width: 250px;
	height: 300px;
	background-image: url('http://placehold.it/250x300');
	background-repeat: no-repeat;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/*########### Buttons ###########*/
#exploreWebsite {
	margin: 20px auto 20px auto;
	box-shadow: none;
}

@media all and (min-height: 780px){
	#exploreWebsite{display: none;}
}

#BackUpButton {
	position: fixed;
	top: 40%;
	right: 2px;
	z-index: 999;
}

#BackUpButton a { 
  display: block; 
  background-color: rgba(39, 34, 62, 1);
  height: 25px; 
  width: 100px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 25px; 
  font-weight: bold; 
  font-family: flamenco;
  text-decoration: none;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
}

#BackUpButton a:hover { 
  -webkit-transition: background-color 1s ease 0s;
  background: slategrey;
}

/*########### Footer ###########*/

#FooterContainer {
	background-color: rgba(39, 34, 62, 1);
	padding: 15px;
}

#FooterContainer ul {
	margin: 5px 80px 0px 80px;
}

#FooterContainer a:hover {
	color: slategrey;
}

#FooterContainer p {
	text-align: center;
	color: #fff;
}